
body{
  
}

#object{
    color: black;
    width: 100%;
    height: 40%;
    background: #C4CFCF;
    font-family:  Lucida Console;
    border: solid 1px black;
}

#object_button{
    color: white;
    background: #1C6956;
    height: 3%;
    width: 10%;
    float: left;
    border: solid 1px black;
    margin: 2px;
    text-align: center;
}
